/* RESET & FONTS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(LyceeAlexandrePetion1_2381.JPG);
    background-size: cover;
    background-position: center;
}

/* CONTAINER DU LOGIN */
.login {
    background: rgba(255, 255, 255, 0.95);
    padding: 40px 50px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    width: 600px;
    text-align: center;
}

.login h1 {
    margin-bottom: 30px;
    color: #333;
}

/* INPUTS */
.login input {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 15px;
    outline: none;
    transition: all 1s ease;
}

.login input:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 5px rgba(35, 35, 36, 0.5);
}

/* BUTTON */
.login button {
    width: 100%;
    padding: 12px 15px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    background-color: #0d00ff;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: background 1s ease;
}

.login button:hover {
    background-color: #ff0000;
}

/* LIENS */
.login .links {
    margin-top: 25px;
    font-size: 15px;
}

.login .links a {
    color: #2218e0;
    text-decoration: none;
    transition: color 0.3s ease;
}

.login .links a:hover {
    color: #ff0000;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .login {
        width: 90%;
        padding: 30px;
    }
}

